# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# OSINT System specific
*.log
osint_system/logs/
.env
.idea/
.vscode/

# Docker
docker-compose.override.yml

# Checkpoints/Temp files
.ipynb_checkpoints
*.tmp
